@media print {
  .colontitle {
    display: none;
  }
}

.colontitle {
  font-family: "bebas_neueregular";
  text-align: center;
}

.colontitle__link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.colontitle__link:last-child {
  margin-right: 0;
}

.colontitle > span {
  display: none;
}

@media (min-width: 992px) {

  .colontitle > span {
    display: inline;
  }
}
