.container {
  margin: 0 auto;
  display: flex;
  flex-flow: column-reverse nowrap;
  height: 100%;
}

.form {
  text-align: center;
}

.form__preview-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.form__preview-container:before {
  content: "";
  width: 100%;
  height: 272px;
  background-image: url("./iwillbesoon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.form__preview-container:after {
  content: "";
  width: 100%;
  height: 370px;
  background-image: url("./bulldozer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.form__cards {
  display: none;
}

.form__preview {
  max-width: 1100px;
  width: 100%;
}

.form__colontitle {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

@media print {
  .form__preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: initial;
  }
}

@media (min-width: 992px) {
  .container {
    flex-flow: initial;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .form__preview-container {
    height: 100%;
    position: relative;
    display: initial;
  }

  .form__preview-container:before {
    background-size: 65%;
  }

  .form__preview-container:after {
    background-size: 65%;
  }

  .form__cards {
    padding: 15px;
    max-width: 330px;
    height: calc(100% - 30px);
    overflow-y: auto;
    margin-bottom: initial;
    display: initial;
  }

  .form__preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: initial;
  }
}
